.playlist.wrapper {
    width: 200px;
    text-wrap-mode: wrap;

    justify-items: center;

    img {
        width: 200px;
        height: 200px;
        cursor: pointer;
    }
}

.playlist.outline {
    outline: 1px solid black;
}